.container{
    width: 800px;
    height: 600px;
    margin-top: 50px;
    margin-left: 70px;
    background-color: black;
}
.Value{
    color: azure;
    position: absolute;
    display: inline-block;
    left: 30%;
    top: 15%;
    font-size: larger;
}
.btn_div{
width: 100%;
display: flex;
justify-content:space-around;
align-items: center;
}
button{
    margin-top: 30px;
}
.center_div{
    background-color: burlywood;
width: 70%;
height: 30vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.main_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}